@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Acorn";
  src: url("../public/fonts/Acorn-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Acorn";
  src: url("../public/fonts/Acorn-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Acorn";
  src: url("../public/fonts/Acorn-ExtraLight.otf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Acorn";
  src: url("../public/fonts/Acorn-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Acorn";
  src: url("../public/fonts/Acorn-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Acorn";
  src: url("../public/fonts/Acorn-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Acorn";
  src: url("../public/fonts/Acorn-Thin.otf");
  font-weight: 100;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Acorn";
  min-width: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  background-color: rgb(0, 0, 0);
  z-index: -2;
}

html {
  zoom: 0.75;
}

@media (min-width: 768px) {
  .layout {
    background: radial-gradient(at 18% 99%, rgb(10, 3, 27) 0px, transparent 50%)
        0% 0% repeat scroll,
      radial-gradient(at 97% 8%, rgb(4, 9, 44) 0px, transparent 50%) 0% 0%
        repeat scroll,
      radial-gradient(at 79% 82%, rgb(18, 10, 32) 0px, transparent 50%) 0% 0%
        repeat scroll,
      radial-gradient(at 96% 10%, rgb(157, 51, 179) 0px, transparent 50%) 0% 0%
        repeat scroll,
      radial-gradient(at 42% 20%, rgba(23, 37, 158, 0.76) 0px, transparent 50%)
        0% 0% repeat scroll,
      radial-gradient(at 4% 49%, rgba(122, 3, 190, 0.61) 0px, transparent 50%)
        0% 0% repeat scroll,
      radial-gradient(at 57% 33%, rgb(20, 151, 123) 0px, rgb(11, 14, 24) 50%) 0%
        0% repeat scroll rgba(205, 3, 255, 0);
  }
}

.layout {
  background-color: rgba(10, 14, 49, 0.76);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar {
  backdrop-filter: blur(2rem);
}

.navbar a {
  padding: 0.65rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 50rem;
  transition: ease 500ms;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.493);
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.13);
  color: white;
  backdrop-filter: blur(10rem);
}
.navbar a.active {
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(10rem);
  color: white;
}

footer {
  align-self: end;
}

nav a {
  font-family: monospace;
  text-shadow: 0px 0px 2rem #000000;
}

/* .archive img {
  filter: drop-shadow(0px 0px 12rem rgb(0, 0, 0));
} */

.archive img:hover {
  scale: 1.03;
  transition: ease-in-out 100ms;
}
